html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgb(243, 166, rgb(247, 246, 241)7, 7));
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    
}

.conteiner {
    max-width: 1500px;
    margin: 0 auto;
}

/* Стили для текста */
:root {
    --accent-color: #eb54e3;
    --dark-color: #453f3e;
    --grey-color: #7b6e6c;
    --white-color: #fff;
    --background-color: #e5e5e5;
}

.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

/* Шапка */
.header {
    min-height: 1030px;
    background-image: url(../img/layout.jpg);
    background-repeat: no-repeat;
    block-size: cover;
    max-width: 100%; 
}

.header_title {
    padding-top: 30px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 90px;
    height: 90px;
    cursor: pointer;

}

.burger {
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 0;
    background-color: #eab436;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger_line {
    display: block;
    width: 31px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

.burger_line:last-child {
    margin-bottom: 0;
}

.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 3px 5px 6px #eab436;
}

.h4 {
    margin: 0 auto 17px;
    font-weight: 600;
    max-width: 734;
    font-size: 30px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 5px 6px #eab436;
}
/* Конец блока шапка*/
/* o нас */
.conteiner_about {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}

.about {
    padding-top: 20px;
    min-height: 1080px;
    position: relative;
}

.info {
    position: absolute;
    top: -360px;
    background: linear-gradient(rgb(86, 86, 86), white);
    opacity: .7;
    left: 50%;
    transform: translateX(-50%);
    /* min-width: 390px; */
    min-height: 300px;
    padding: 30px 5px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid_item {
    border: 1px solid black;
    /* background-color: #eab436; */
    text-align: center;
    width: 190px;
}

.about__h4 {
    font-family: 'Oswald';
    font-size: 25px;
    text-transform: uppercase;
    color: #0d0c0d;
    text-shadow: 3px 5px 6px #eab436;
}

.about__h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #0d0c0d;
    text-shadow: 3px 5px 6px #eab436;
}

.about__p {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #0d0c0d;
    text-shadow: 3px 5px 6px #eab436;
}

@media screen and (max-width: 1280px) {
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .info {
        position: relative;
    }
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

/* конец блока о нас*/
/* <!-- НАШИ САМЫЕ БОЛЬШИЕ ПРОЕКТЫ --> */
.text-h2 {
}
.text-h3 {
}
.text-p {
}
.project-h2 {
    text-align: center;
    margin-bottom: 60px;
    text-shadow: 3px 5px 6px #eab436;
}
.progect-h3 {
}
.progect-p {
}
.about__flex {
    display: flex;
}
.about__flex-item {
}
.img {
}
.rectangle {
}



/* <!-- Конец блока НАШИ САМЫЕ БОЛЬШИЕ ПРОЕКТЫ --> */
